.App {
  text-align: center;
}
.btn-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset {
  margin-left: 2rem;
}
.control-btn {
  margin: 4px 5px;
  /* border: none; */
  /* border-radius: 4px; */
}